<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="default suite" time-out="300000">
    <test name="default tests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="samples"/>
            </run>
        </groups>

        <packages>
            <package name="com.boxed.smartboxed"/>
        </packages>
    </test>
</suite>
